<div class="fundos">
        <h1 class="textoCaminho">Está página irá direcionar de acordo com o objetivo do visitante, ou seja, é necessário informar dados
            válidos e deve ser escolhido a opção correta, se ONG ou doador.
        </h1>
    <a class="botaoCaminho1" href="/formulario">DOADOR</a>
    <a class="botaoCaminho1" href="/cadastro">ONGs</a>
</div>