
<div class="container-fluid tela">
        <div class="btn btn-warning btn-lg botCaminho">
            <a href ="/formPedido" > CADASTRAR DOAÇÃO </a>
        </div>
        <div class="btn btn-warning btn-lg botCaminho1">
            <a href="/baixaDoacao"> DAR BAIXA EM DOAÇÃO PENDENTE </a>
        </div>
        <div class="btn btn-warning btn-lg " style="top: 60%; position:absolute; left:48%;">
            <a href="/sair"> Sair </a>
        </div>
        
</div>
