<!--Nesta página localiza-se o carrosel de imagens da página inicial e as doações que estão abaixo-->

<div class="tela">
  <header>
    <div id="carouselExampleControls" class="carousel slide slideDoacao" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval ="500">
          <img class="d-block w-100"  src="static/img/fundoLogin.png" alt="First slide">
        </div>
        <div class="carousel-item" data-interval ="500">
          <img class="d-block w-100" src="static/img/fundoSite.png" alt="Second slide">
        </div>
        <div class="carousel-item" data-interval ="500">
          <img class="d-block w-100" src="static/img/telaQuemSomos.png" alt="Third slide">
        </div>
        <div class="carousel-item" data-interval ="500">
          <img class="d-block w-100" src="static/img/telaQuemSomos.png" alt="Four slide">
        </div>
        <div class="carousel-item" data-interval ="500">
          <img class="d-block w-100" src="static/img/de.jpg" alt="FIVE slide">
        </div>
        <div class="carousel-item" data-interval ="500">
          <img class="d-block w-100" src="static/img/do.jpg" alt="Six slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
</div>

<!--Aqui está o local da página onde está as doações-->

<div id="doacao" class="row">
  <div class="col-md-3 bloco">
    Nestes blocos ficarão as doações.
  
  </div>
  <div class="col-md-3 bloco">
    Nestes blocos ficarão as doações.

  </div>
  <div class="col-md-3 bloco">
    Nestes blocos ficarão as doações.

  </div>
  <div class="col-md-3 bloco">
    Nestes blocos ficarão as doações.

  </div>
  <div class="col-md-3 bloco">
    Nestes blocos ficarão as doações.

  </div>
  <div class="col-md-3 bloco">
    Nestes blocos ficarão as doações.
  </div>

</div>