<div class="container-fluid telaQuemSomos  ">
    <div class="">
    </div>    
    <div>
        <div>
        <a href="https://api.whatsapp.com/send?l=pt&amp;phone=5554981649884"><img 
        src="https://i.imgur.com/ryESuZ5.png" style="height:64px; top:57vh; position:fixed; bottom: 25px; right: 
        25px; z-index:99999;" data-selector="img"></a>
        <a href="https://mail.google.com/"><img 
        src="/static/img/email.jpg" style="height:64px; position:fixed; top:72vh ;bottom: 25px; right: 
        25px; z-index:99999;" data-selector="img"></a>
        <a href="https://www.senacrs.com.br/unidades.asp?unidade=38"><img 
        src="/static/img/senac.jpg" style="height:64px; position:fixed; bottom: 25px; right: 
        25px; z-index:99999;" data-selector="img"></a>
        </div>
    </div> 
      
</div>   