<div class="telaQSomo">    
    <div class="estiloQSomos">
        <h1>Quem Somos</h1>
        
    </div> 
    <div class="">

        <p>Esta é uma página desenvolvida por Kélvin Melo Fantini para o Projeto Integrador(PI) do módulo de programação.
        Este site não possui fins lucrativos, apenas visa a disseminação de pedidos de doações que ONGs cadastradas estão necessitando.
        É importante se citar que: Este site tem apenas o objetivo de levar a informação, ou seja, a doação ainda é feita de forma presencial 
        ou da forma a se combinar com a ONG. Não é responsabilidade dos representantes deste site desacrodos ou desavenças nem da instituição Senac.
        Este site é apenas para divulgar pedidos de doação.
        </p>
    </div>
    <div class="contatoCriador">
        Contato do criador desta página!<br>
        <div>
            Nome: Kélvin Melo Fantini<br>
            E-mail: kelvinfantini299@gmail.com
        <a href="https://api.whatsapp.com/send?l=pt&amp;phone=5554981649884"><img 
        src="https://i.imgur.com/ryESuZ5.png" style="height:64px; position:fixed; bottom: 25px; right: 
        25px; z-index:99999;" data-selector="img"></a>
        <a href="https://mail.google.com/"><img 
        src="/static/img/email.jpg" style="height:64px; position:fixed; bottom: 25px; right: 
        95px; z-index:99999;" data-selector="img"></a>
        <a href="https://www.senacrs.com.br/unidades.asp?unidade=38"><img 
        src="/static/img/senac.jpg" style="height:64px; position:fixed; bottom: 25px; right: 
        210px; z-index:99999;" data-selector="img"></a>
        </div>
    </div>   
</div>   