body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body nav form{
  margin: 1%;
  top: 10%;
  padding: 0%;
  border: 0px;
}

body form{
  border: 2px solid;
  margin: 1%;
  top: 10%;
  padding: 3%;
  
}

.row{
  margin-left: 0%;
  margin-right: 0%;
}

body header{
  height: 70%;
  width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
}


.tela {
  background-image: url(/static/img/fundo-inicio.png );
  height: 92vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b9bbbe!important;
  
}

.telaQuemSomos {
  background-image: url(/static/img/faca_bem.png );
  height: 98vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0px !important;
  padding-right: 0px !important ;
  
}


#doacao{
  margin: 0% !important;
  top: 150% !important;
}

.bloco {
  height: 46.9vh;
  border: 1px solid black;
  border-color: #b9bbbe;
  border-radius: 0.5%;
  margin: 0.5%;
  left: 18vh;
      
}

.formularioCadastro{
  background-image: url(/static/img/cadastre-se.png );
  height: 90.5vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue !important;
}

.botCad{
  margin-left: 48%;

}

.botCad1{
  text-align: center;
}


body form input{
  background-color: white!important;
}

.Login{
  width: auto;
  align-items: center;
  left: 27%;
  text-align: center;
  background-image: url(/static/img/entre.png );
  height: 92vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.formularioLogin{
  width: 40vh;;
  left: 40% !important;
  position: relative;
  top: 30%;
}

.botCaminho{
  position: absolute;
  left: 42%;
  top: 29%;
}

.botCaminho1{
  position: absolute;
  left: 39%;
  top: 45%;
}

.botSair{
  position: absolute;
  left: 65%;
  float: none;
}

.bordaCam{
  background-color: beige;
}

.linha{
  left: 10%;
  
}







@media only screen and (max-width: 600px) {
  .bloco{
    height: 60vh;
    width: 50vh;
    border: 1px solid black;
    left: 2.5vh;
  }
  .formularioLogin{
  width: 45vh;
  left: 3% !important;
  position: relative;
  top: 5%;
  }
  .tela{
    position: relative;
    
  }

}