body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body nav form{
  margin: 1%;
  top: 10%;
  padding: 0%;
  border: 0px;
}

body form{
  border: 2px solid;
  margin: 1%;
  top: 10%;
  padding: 3%;

}

body header{
  height: 70%;
  width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;

}

.tela {
  background-image: url(./ig/fundoSite.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-block-end: 1px solid;
  
}

.telaQuemSomos{
  background-image: url(./img/telaQuemSomos.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  text-align: center;

}

#doacao{
  margin: 0%;
  top: 150%;
}

.contato {
  height: 20vh;
  border: 1px solid;
  border-color: #b9bbbe;
  background-color: white;
  margin: 0%;
  background-size: cover;
  position: absolute;
  left: 40%;
}

.bloco {
  height: 46.9vh;
  border: 1px solid black;
  border-color: #b9bbbe;
  border-radius: 0.5%;
  margin: 0.5%;
  left: 18vh;
      
}

#formularioCadastro{
  text-align: center;
  position: relative;
  top: 15%;
}

body form input{
  background-color: white!important;
}

.formularioLogin{
  width: 40%;
  position: relative;
  align-items: center;
  left: 27%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .bloco{
    height: 60vh;
    width: 50vh;
    border: 1px solid black;
    left: 2.5vh;
  }
  .formularioLogin{
    width: 60%;
    left: 20%;
  }
  .tela{
    position: relative;
    
  }

}